.color_indicator {
	position: absolute;
	height: 31px;
	width: 426px;
	top: 1px;
	left: 75px;
	cursor: pointer;
	border-radius: 0px 2px 2px 0px;
	-webkit-border-radius: 0px 2px 2px 0px;
	-moz-border-radius: 0px 2px 2px 0px;
}

.product_image {
	text-align: center;
	margin: 0 auto;
	width: 210px;
	height: 155px;
	background: #cccccc;
}

.img_product_image {
	text-align: center;
	margin: 0 auto;
	max-width: 210px;
	max-height: 135px;
}

#product_image_wrapper{
	height: 135px;
	width: 210px;
	text-align: center;
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;
}

#upload_result{
	padding-bottom: 3px;
}